<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="head"></head>
    <head>
        <title>Étudiants</title>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
        <div class="container">
            <h1>Liste des étudiants</h1>

            <div class="table-responsive">
                <table class="table table-stripped">
                    <thead class="thead-light">
                        <tr class="d-flex">
                            <th scope="col" class="col-4">utilisateur</th>
                            <th scope="col" class="col-4">titre</th>
                            <th scope="col" class="col-4">attribut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${allUsers}" class="d-flex">
                            <td scope="row" th:text="${user.utilisateur}" class="col-4"></td>
                            <td th:text="${user.titre}" class="col-4"></td>
                            <td th:text="${user.attribut}" class="col-4"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>