<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="head"></head>
    <head>
        <title>Trace Forum CMC</title>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"></nav>
        <div class="container">
            <h1>Trace Forum CMC</h1>

            <p>Réalisé par Gallien FRESNAIS et Lilian VALLÉE</p>

            <p>Développé avec Java Spring Boot avec les plugins suivants</p>
            <ul>
                <li>Base de données H2</li>
                <li>JPA (Java Peristance API)</li>
                <li>Thymeleaf (templates HTML)</li>
                <li>Webjars</li>
                <ul>
                    <li>Bootstrap CSS</li>
                    <li>jQuery</li>
                    <li>Chart.js</li>
                </ul>
            </ul>
            <p>Design pattern employés</p>
            <ul>
                <li>MVC</li>
                <li>Singleton</li>
            </ul>

            <p>Insertion des données existantes (data.sql) dans une base de données H2 en mémoire puis interrogation de celle-ci</p>
        </div>
    </body>
</html>