<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a th:href="@{/}" class="nav-link navbar-brand">Accueil</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/etudiants}" class="nav-link navbar-brand">Étudiants</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/activite}" class="nav-link navbar-brand">Activités</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/categorie}" class="nav-link navbar-brand">Catégories</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/transition}" class="nav-link navbar-brand">Transitions</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/typeu}" class="nav-link navbar-brand">Types</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/userfiles}" class="nav-link navbar-brand">Userfiles</a>
    </li>
    <li class="nav-item">
        <a th:href="@{/usertoolparam}" class="nav-link navbar-brand">Usertool</a>
    </li>
</ul>