<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="head"></head>
    <head>
        <title>Détails</title>
        <link rel="stylesheet" href="webjars/chartjs/2.9.3/Chart.css">
        <script src="webjars/chartjs/2.9.3/Chart.min.js"></script>
    </head>
    </head>
    <body>
        <nav th:insert="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3"></nav>
        <div class="container">

            <a class="btn btn-secondary mb-3" role="button" th:href="@{/utilisateurs}">Retour à la liste des utilisateurs</a>

            <h1 th:utext="${'Détail pour ' + utilisateur}"></h1>

            <canvas th:each="forum: ${forums}" th:id="${forum}" width="200" height="200">Your browser does not support the canvas element.</canvas>
            <script th:inline="javascript">
            /*<![CDATA[*/
                var canvas = document.getElementsByTagName('canvas');
                for (var canva of canvas) {
                    var ctx = document.getElementById(canva.id).getContext('2d');

                    var myChart = new Chart(ctx, {
                    type: 'bar',
                        data: {
                            labels: /*[[${activites}]]*/,
                            datasets: [{
                                label: canva.id,
                                data: /*[[${nbActions.get(*/canva.id/*)}]]*/,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                }
                / *]]>*/
            </script>
        </div>
    </body>
</html>